/****************************************************
1. Universal styles (typography,etc)
2. Header & Nav styles
3. Main Body Content
4. Client Message
5. Footer Content
*****************************************************/

/*****************************************************
*****************************************************
1. Universal Styles
*****************************************************
****************************************************/
*{ 
    box-sizing: border-box;
    margin:0;
    padding:0px;
}
body{
    font-family:'Open Sans',sans-serif;
    font-size:16px;
    font-weight:300;
    color:#707070;
    background-color: #fff;
}
#page{
    max-width: 1700px;
    margin: 0 auto;
    position: relative;
}
a{
    text-decoration: none;
    /* color:#007eff; */
    color:#fff;
}
ul li{
    list-style: none;
}

/* Text */
h1{ margin:0 0 1em 0; font-size: 2.8em; font-weight: 700;}
h2{ margin:0 0 0.5em 0; font-size: 1.6em; font-weight: 700; line-height: 1.1em;}
h3{ margin:0 0 0.5em 0; font-size: 1.3em; font-weight: 700;}
h4{ margin:0 0 1.5em 0; font-size: 1em; font-weight: 700;}

p{margin:0 0 1em 0;}
/* a:visited{color: #65b1ff;}
a:hover{color: #2388ed;} */
/*****************************************************
*****************************************************
2. Header & Nav Styles
*****************************************************
****************************************************/
.header-container{
    position: relative;
    height:100vh;
    width:100%;
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/jefferson.jpg);
    background-size: cover;
    position: relative;
    background-position: center center;
    opacity: 1;
    z-index: 20;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    background: rgba(0,0,0,0.65);
    min-height: 104px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.header-container div.hero-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 760px;
    color:#fff;
}
.header-container div.hero-section h1{
    line-height: 1em;
    margin:0 0 30px 0;
}
.header-container .hero-section p{
    color:#2388ed; 
    font-size: 1.7em;
}
nav ul{
    display:flex;
    align-items: center;
}
ul a{
    margin-right: 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    transition: all 0.3s;
}
ul li a:hover{
    color: #2388ed;
}
li.sign-up {
    margin-left: 21px;
}
.sign-up a{
    background: transparent;
    border-color: #2388ed;
    color: #2388ed;
    border: 2px solid #2388ed;
    border-radius: 50px;
    padding: 1rem;
}
.sign-up a:hover{
    border-color: #52a1f1;
    background-color: #2388ed !important;
    color: #ffffff;
}
.sign-up a:hover span{
    padding-left: 1px;
}

/*****************************************************
*****************************************************
3. Main Body Content
*****************************************************
****************************************************/
.main{
    padding:60px 45px;
    background-color: #fff;
}
.main-inner {
    font-family: "Montserrat", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat( 2, minmax(300px, 1fr) );
    grid-column-gap:24px;
}
.main-inner .left-column{
    grid-column:1/2;
}
.main-inner .right-column{
    grid-column:2/-1;
}
.txt-type > .txt{
    border-right:0.1rem solid #333;
}
.blue{
    color:#AAE7FF;
    font-size: 0.9em;
    display: block!important;
    font-weight: bold;
}
.left-column h2{
    font-weight: 700;
    font-size: 2rem;
    color:#000;
    margin-bottom:2rem;
}
.left-column p{
    line-height: 1.65;
}
.left-column a{
    color:#2488ED;
    border:2px solid #52a1f1;
    background-color: #fff;
    border-radius: 50px;
    padding: 1rem;
    display: inline-block;
    font-weight: 500;
    transition: all 0.3s;
}
.left-column a:hover{
    border-color: #52a1f1;
    background-color: #52a1f1 !important;
    color: #ffffff;
}
section.hero{
    padding:60px 45px;
    background-color: #2F3338;
}
section.hero-inner {
    max-width: 1200px;
    margin: 0 auto;
}
h2.hero-heading-inner {
    text-align: center;
    color: #FFF !important;
    font-weight: 300;
    letter-spacing: 3px;
}
hr.line-br {
    width: 145px;
    margin: auto;
    border: 1px solid #2488ED;
    margin-bottom: 38px;
}


.featured-inner {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
}
aside{
    display:flex;
    flex-direction: column;
    align-items: center;
}
aside.content i {
    font-size: 2.8rem;
}
aside h3{
    color:#FFF;
}
aside p{
    text-align: center;
    line-height: 1.5;
}

/*****************************************************
*****************************************************
4. Client Message
*****************************************************
****************************************************/
.clients {
    padding: 60px 45px;
    background-color: #F1F3F7;
}
.clients-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.clients-inner h2{
    font-weight: bold;
}
/*****************************************************
*****************************************************
5. Footer Content
*****************************************************
****************************************************/
footer{
    border-top:1px solid #ddd;
    padding:1em 0;
    background-color: #F1F3F7;
}
footer a{
    color:#888;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}
.icons a{
    padding:1rem;
    transition: all 0.3s;
}
.icons a:hover{
    color:#fff;
    border-radius:50%;
    background-color: #2388ED;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}
.links div,.links a{
    margin-right:1em;
}