/****************************************************
1. Universal styles (typography,etc)
2. Header & Nav styles
3. Main Body Content
4. Footer Content
*****************************************************/

/*****************************************************
*****************************************************
1. Universal Styles
*****************************************************
****************************************************/
*{ 
    box-sizing: border-box;
    margin:0;
    padding:0px;
}
body{
    font-family:'Open Sans',sans-serif;
    font-size:16px;
    font-weight:300;
    color:#707070;
    background-color: #fff;
}
#page{
    max-width: 1700px;
    margin: 0 auto;
    position: relative;
}
a{
    text-decoration: none;
    /* color:#007eff; */
    color:#fff;
}
ul li{
    list-style: none;
}

/* Text */
h1{ margin:0 0 1em 0; font-size: 2.8em; font-weight: 700;}
h2{ margin:0 0 0.5em 0; font-size: 1.6em; font-weight: 700; line-height: 1.1em;}
h3{ margin:0 0 0.5em 0; font-size: 1.3em; font-weight: 700;}
h4{ margin:0 0 1.5em 0; font-size: 1em; font-weight: 700;}

p{margin:0 0 1em 0;}
/* a:visited{color: #65b1ff;}
a:hover{color: #2388ed;} */
/*****************************************************
*****************************************************
2. Header & Nav Styles
*****************************************************
****************************************************/
.header-container{
    position: relative;
    height:100vh;
    width:100%;
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/jefferson.jpg);
    background-size: cover;
    position: relative;
    background-position: center center;
    opacity: 1;
    z-index: 20;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    background: rgba(0,0,0,0.65);
    min-height: 104px;
}

.header-container div.hero-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#fff;
}
.header-container div.hero-section h1{
    line-height: 1em;
    margin:0 0 30px 0;
}
.header-container .hero-section p{
    color:#2388ed; 
    font-size: 1.7em;
}
nav ul{
    display:flex;
    align-items: center;
}
ul a{
    margin-right: 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    transition: all 0.3s;
}
ul li a:hover{
    color: #2388ed;
}
li.sign-up {
    margin-left: 21px;
}
.sign-up a{
    background: transparent;
    border-color: #2388ed;
    color: #2388ed;
    border: 2px solid #2388ed;
    border-radius: 50px;
    padding: 1rem;
}
.sign-up a:hover{
    border-color: #52a1f1;
    background-color: #2388ed !important;
    color: #ffffff;
}
.sign-up a:hover span{
    padding-left: 1px;
}

/*****************************************************
*****************************************************
3. Main Body Content
*****************************************************
****************************************************/


/*****************************************************
*****************************************************
4. Footer Content
*****************************************************
****************************************************/
